body {
    text-align: center;
    font-family: Verdana;
    font-size: 24px;
    background-color: rgb(4, 4, 75);
    color: aliceblue;
}

.buttons{
    padding: 10px 20px;
    color: aliceblue;
    background-color: brown;
    font-size: 20px;
    opacity: 0.5;
}

.buttons:hover {
    opacity: 1;
    background-color: blueviolet;
}

#mytxt {
    font-size: 5em;
}